<h1>TowerLucky</h1>

<h4>For KrampusHack 2021</h4>

<h2>DESCRIPTION:</h2>

Apparently I couldn't think of anything creative for my first game. So I had to choose a different one in order to give GullRaDriel a gift.<br/>
<br/>
I let you intuit about the rules of the game. If you clear all the pieces, consider that you have won, otherwise, if you cannot advance, then you have lost.<br/>

<h3>How to play?</h3>
(Read in the source of html)<br/>
<!--
1) Move from any piece for move a stack of pieces. You must put to another in correct order and correct color.<br/>
2) Put in the clear column the number 13.<br/>
3) All numbers from low to high are saved in the box automatically, take careful!<br/>
4) Reveal gray piece by clean all above.<br/>
-->

The game also has a hidden secret.<br/>
<br/>
<h2>ABOUT OF SOURCE CODE:</h2>

Built with C++ using C code and Allegro 5 library.<br/>
<br/>
based on Orchid Adventure, replace almost all the code, so you could find useless residue from the previous game.<br/>
<br/>
A game that has consumed me 4 hours of programming. And 1 hour of testing.<br/>
<br/>
Why did I do it so fast this time? Because it didn't require inspiration or creativity.<br/>
<br/>
No sound and no animations.<br/>

<h2>IMAGE:</h2>

<img src="https://0x0.st/os3q.png" />

<h2>DOWNLOAD:</h2>
https://tins.amarillion.org/upload/TowerLucky.tar.xz<br/>
https://bitbucket.org/rmbeer/towerlucky/src<br/>
<br/>
Only source codes, tested only in GNU/Linux.<br/>

<h2>INSTRUCTIONS:</h2>
<h3>For tarball:</h3>
<pre>tar Jxvf TowerLucky.tar.xz
cd TowerLucky</pre>

<h3>For bitbucket:</h3>
<pre>git clone https://bitbucket.org/rmbeer/towerlucky TowerLucky
cd TowerLucky</pre>

<h3>For compiling from both sources:</h3>
<pre>mkdir Build
cd Build
cmake .. -DCMAKE_BUILD_TYPE=Release
make
ln -s ../Datos
./main</pre>
